/* סגנון לדף הפרטים */
.detail-container {
    text-align: center;
    padding: 20px;
    position: relative; /* מאפשר לכפתור למקם את עצמו יחסית לקונטיינר */
}

.header {
    margin-bottom: 20px;
}

.main-content {
    margin-top: 20px;
}

.illustration {
    margin-top: 20px;
    padding: 10px;
}

/* סגנון לכפתור חזרה הביתה */
.back-button {
    position: absolute;
    bottom: 70px; /* מרחק מהתחתית */
    left: 20px; /* מרחק מהצד השמאלי */
    padding: 10px 20px;
    background-color: #c4627b;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #7a297a; /* שינוי צבע כשלוחצים */
}
