/* Style for home page container */
.home-container {
    text-align: center;
    padding: 20px;
    position: relative; 
    min-height: 100vh; 
    overflow: hidden; 
}

/* Background image styling */
.background-image {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/Background_image.PNG');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.5; 
    z-index: -1; 
}

/* Header styling */
.header {
    margin-bottom: 20px;
}

/* Main content styling */
.main-content {
    margin-top: 30px;
}

/* General button styling */
button {
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: #c4627b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Button hover effect */
button:hover {
    background-color: #7a297a;
}

/* Footer styling */
.footer {
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}
