/* Style for the Queue Container */
.Queue-container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin-top: 20px;
    height: 500px; 
    overflow: hidden; 
}

/* Style for Buttons in the Queue */
.Queue-buttons {
    position: absolute; 
    right: 20px; 
    top: 15%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.Queue-buttons input {
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
}

.Queue-buttons button {
    margin-bottom: 10px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100px; 
}

/* Style for Queue Display Section */
.queue-display {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px; 
    overflow-y: auto; 
}

/* Style for Individual Queue Items */
.queue {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    max-width: 100%; 
}

.queue-item {
    width: 70px;
    height: 70px;
    border-radius: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5px 0.5px 10px 0.5px; 
    border: 1px solid #333; 
    font-size: 18px; 
    font-weight: bold; 
    color: white; 
    
}

/* First Item in Queue */
.queue-item:first-child {
    background-color: #4ad466be; 
}

/* Last Item in Queue */
.queue-item:last-child {
    background-color: #ff333398; 
}

/* Middle Items in Queue */
.queue-item:not(:first-child):not(:last-child) {
    background-color: #2eb0e988; 
}

/* Footer Style */
.footer {
    margin-top: 110px; 
    text-align: center; 
}