/* סגנון לדף הבית */
.linked-list-container {
    display: flex; /* הופך את אלמנט העטיפה ל-Flexbox */
    flex-direction: column; /* מסדר את הילדים בעמודה */
    align-items: center; /* מרכז את הילדים (כולל .linked-list-display) */
    margin-top: 20px;
    height: 400px; /* גובה קבוע, אפשר לשנות בהתאם לצורך */
    overflow: hidden; /* למנוע גלילה נוספת מחוץ לקונטיינר */
}

.linked-list-buttons {
    position: absolute; /* נשאיר את הכפתורים בצד ימין */
    right: 20px; /* הכפתורים יהיו במרחק 20px מצד ימין */
    top: 15%; /* מיקום הכפתורים גבוה מהמרכז */
    display: flex;
    flex-direction: column; /* סידור כפתורים בעמודה */
    align-items: flex-end; /* מיקום הכפתורים בכיוון ימין */
}

.linked-list-buttons input {
    margin-bottom: 10px; /* מרווח בין שדה הטקסט לכפתורים */
    padding: 8px;
    width: 200px; /* גובה קבוע לשדה */
}

.linked-list-buttons button {
    margin-bottom: 10px; /* מרווח בין כפתורים */
    padding: 10px 15px; /* שטח לחיצה נעים */
    cursor: pointer;
    width: 100px; /* רוחב קבוע לכל הכפתורים */
}


/* עיצוב לתצוגת הרשימה המקושרת */
.linked-list-display {
    display: flex;
    justify-content: center; /* מרכז את כל המבנה לרוחב */
    align-items: center; /* מיקום אנכי ממורכז */
    margin-top: 20px; /* מרווח כדי למקם מתחת לכותרת */
    padding: 10px;
    background-color: #f9f9f9; /* רקע בהיר */
    border: 1px solid #ddd; /* גבול קל סביב */
    border-radius: 5px; /* פינות מעוגלות */
    min-height: 100px; /* גובה מינימלי כדי למנוע דחיסה */
    max-width: calc(100% - 290px); /* גבול צדדי של 20 פיקסלים */
    margin-left: auto; /* ממרכז את הרשימה */
    margin-right: auto; /* ממרכז את הרשימה */
    overflow-y: auto; /* יצירת גלילה כאשר יש יותר מדי אלמנטים */
}

/* עיצוב לעיגולים */
.linked-list {
    display: flex; /* סידור בעזרת flexbox */
    flex-wrap: wrap; /* מעבר לשורות חדשות כאשר אין מקום */
    justify-content: center; /* מרכז את העיגולים */
    align-items: center; /* מיקום אנכי ממורכז */
    max-width: 100%; /* התאמה לרוחב */
    margin: 0 auto; /* מרכז את הרשימה */
}

.linked-list-node {
    width: 50px; /* גובה ורוחב קבוע לעיגולים */
    height: 50px;
    margin: 10px; /* מרווחים בין העיגולים */
    background-color: #c4627b; /* צבע הרקע של העיגולים */
    color: white; /* צבע הטקסט */
    display: flex; /* סידור של תוכן בתוך העיגול */
    justify-content: center; /* מרכז את הטקסט */
    align-items: center; /* מיקום אנכי ממורכז */
    border-radius: 50%; /* עיגול מושלם */
    font-size: 18px; /* גודל טקסט */
    box-sizing: border-box; /* לוודא שה-padding וה-border נכללים ברוחב */
}

/* עיצוב לחיצים */
.arrow {
    font-size: 24px; /* גודל של החיצים */
    margin: 0 10px; /* מרווחים בין העיגולים לחיצים */
    color: #333; /* צבע החיצים */
}

/* סגנון הפוטר של העמוד */
.footer {
    margin-top: 110px; /* מרווח למטה */
    text-align: center; /* יישור מרכזי */
}
